/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';
@import 'mixins';

.page {
  @include flex-container(column);
  max-width: 1000px;
  margin: auto;
  font-family: sans-serif;
  position: relative;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  border-bottom: solid 1px black;
}

.page-header__title {
  flex-grow: 15;
  padding-left: 3%;
  font: bold sans-serif;
}

.page-header__logout {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: space-around;
}

input {
  margin: 0px 3px;
}

.btn-default {
  margin: 0px 3px;
  background-color: $btn-background;
}

.btn-default:hover {
  background-color: $btn-background-hover;
}

.orders-type {
  background-color: white;
}
